#Link de conexión a la base de datos PostgreSQL en Neon

DATABASE_URL=

# URL de la aplicación
NEXTAUTH_URL=


NEXTAUTH_SECRET=

# Credenciales de Google Cloud para autenticación OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=